In [1]:
import pandas as pd
import openweathermapy.core as ow
import matplotlib as plot
import numpy as np

In [2]:
filepath = 'Resources/cities.csv'
city_csv = pd.read_csv(filepath)
city_csv

         Paris
0       London
1         Oslo
2      Beijing
3       Moscow
4  Vladivostok
5        Osaka
6     Honolulu
7   Montevideo
8        Erbil