In [2]:
# Dependencies
import tweepy
import json
import pandas as pd
from twitter import consumer_key, consumer_key_secret, access_token, access_token_secret



# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [4]:
# Import CSV file into Data Frame
popular_tweeters = pd.read_csv("PopularAccounts.csv", dtype=str)

# Iterate through DataFrame
for index, row in popular_tweeters.iterrows():
    try:
        # Grab the username
        target_user = row["Screen Name"]
        # print(target_user)

        # Use the username with the Twitter API get_user
        user_account = api.get_user(target_user)
        user_real_name = user_account["name"]

        # Get the specific column data
        user_tweets = user_account["statuses_count"]
        user_followers = user_account["followers_count"]
        user_following = user_account["friends_count"]
        user_favorites = user_account["favourites_count"]

        # Replace the row information for each
        popular_tweeters.set_value(index, "Real Name", user_real_name)
        popular_tweeters.set_value(index, "Tweets", user_tweets)
        popular_tweeters.set_value(index, "Followers", user_followers)
        popular_tweeters.set_value(index, "Following", user_following)
        popular_tweeters.set_value(index, "Favorites Count", user_favorites)
    
    except:
        continue
        
# Export the new CSV
popular_tweeters.to_csv("PopularAcounts_New.csv", index=False)

# View the DataFrame
popular_tweeters.head()

     Screen Name      Real Name Tweets  Followers Following Favorites Count
0      katyperry     KATY PERRY   8733  106286042       204            5817
1   justinbieber  Justin Bieber  30647  103289852    315545            3449
2    BarackObama   Barack Obama  15479   96792430    626660              10
3  Taylorswift13   Taylor Swift     60   85614711         0             102
4        rihanna        Rihanna  10033   82187942      1132            1023

In [5]:
# Calculate Averages
average_tweet_count = popular_tweeters["Tweets"].mean()
average_followers = popular_tweeters["Followers"].mean()
average_following_count = popular_tweeters["Following"].mean()
average_favorites_count = popular_tweeters["Favorites Count"].mean()

# Create DataFrame
averages = {"Average Tweet Count": average_tweet_count, 
            "Average Follower Count": average_followers, 
            "Average Following Count": average_following_count,
            "Average Favorites Count": average_favorites_count}

# Create a Dataframe of the averages
pd.DataFrame(averages, index=[0])

,Average Favorites Count,Average Follower Count,Average Following Count,Average Tweet Count
0,1772.612245,4.799683e+07,32681.469388,30706.183673

In [ ]:
# Extract Tweet Counts and Follower Counts
tweet_count = popular_tweeters.loc[]
raise NotImplementedError()

In [ ]:
# Plot Tweet Counts vs Follower Counts
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Plot Number Following vs Following Counts
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Plot Number of Favorites vs Favorite Counts
# YOUR CODE HERE
raise NotImplementedError()