In [23]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
from googlekey import api_key

# Google API Key
gkey = api_key

In [24]:
# Import cities file into the cities_pd DataFrame
city = "Cities.csv"
cities = pd.read_csv(city)
cities_pd = pd.DataFrame(cities)
cities_pd.head()

           City         State
0      New York      New York
1   Los Angeles    California
2       Chicago      Illinois
3       Houston         Texas
4  Philadelphia  Pennsylvania

In [25]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities_pd["Latitude"] = ""
cities_pd["Longitude"] = ""
cities_pd["Airpot Name"] = ""
cities_pd["Airport Address"] = ""
cities_pd["Airport Rating"] = ""
cities_pd.head()

,City,State,Latitude,Longitude,Airpot Name,Airport Address,Airport Rating
0,New York,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,

In [26]:
target_city = "Los Angeles, California"
target_url = "https://maps.googleapis.com/maps/api/geocode/json" \
    "?address=%s&key=%s" % (target_city, gkey)
geo_data = requests.get(target_url).json()
lat = geo_data["results"][0]["geometry"]["location"]["lat"]
lat

34.0522342

In [ ]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.set_value()`

for index, rows in cities_pd.iterrows():
    target_city = rows.get("City"), rows.get("State")
    target_url = "https://maps.googleapis.com/maps/api/geocode/json" \
    "?address=%s&key=%s" % (target_city, gkey)
    city_data = requests.get(target_url).json()
    city_lat = city_data["results"][0]["geometry"]["location"]["lat"]
    city_lng = city_data["results"][0]["geometry"]["location"]["lng"]
    cities_pd.loc[index, "Latitude"] = city_lat
    cities_pd.loc[index, "Longitude"] = city_lng
    
cities_pd.head()

In [ ]:
#test print one city
lat = cities_pd.loc[1, "Latitude"]
lon = cities_pd.loc[1, "Longitude"]
target_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=%s,%s&radius=50000&types=%s&keyword=international+airport&key=%s" % (lat,lon, "airport", gkey
airport = requests.get(target_url).json()
    
print(json.dumps(airport, indent=4, sort_keys=True))

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings
for index, rows in cities_pd.iterrows():
    lat = rows["Latitude"]
    lon = rows["Longitude"]
    loc = lat, lon
    target_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=%s,%s&radius=50000&types=%s&keyword=international+airport&key=%s" % (lat,lon, "airport", gkey)
    airport_data = requests.get(target_url).json()
    
print(json.dumps(airport_data, indent=4, sort_keys=True))

In [9]:
# Save Data to csv


# Visualize to confirm airport data appears
cities_pd

Empty DataFrame
Columns: []
Index: []